body{
  background: #8E1C12 !important;
}
.App{
 
  border-radius: 10px;
  padding: 10px;
  margin: 27px auto;
  box-shadow: 1px 2px 5px ;
  background: #15336B;
}
.App .tittle{
  text-align: center;
}



.itemConten{
  border-radius: 7px;
  background: #fff;
}
